.root-background{
    -fx-background-color: #507CA5;
}


.my-buttons{

    -fx-background-color: #28435D;
    -fx-text-fill: white;
    -fx-font-weight: MEDIUM;
    

}

.my-button-pressed{
    -fx-background-color: #6489ac;
    -fx-text-fill: white;
    -fx-font-weight: MEDIUM;
}

.time-ring{
    -fx-stroke: #28435D;
    -fx-stroke-width: 10px;
}

.time-display{
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

.play-button{

    -fx-background-radius: 50%;
    -fx-min-width: 50px;          
    -fx-min-height: 50px; 
    -fx-max-width: 50px; 
    -fx-max-height: 50px; 
    -fx-background-color: #28435D; 
    -fx-text-fill: white;

}